/node_modules/
/apps/example-poe/.contentlayer/
/.env
packages/tailwind/node_modules/typescript
packages/tailwind/node_modules/tailwindcss-animate
packages/tailwind/node_modules/tailwindcss
packages/tailwind/node_modules/postcss
packages/tailwind/node_modules/autoprefixer
packages/tailwind/node_modules/@tailwindcss/typography
packages/tailwind/node_modules/@itell/core
packages/tailwind/node_modules/.bin/tsserver
packages/tailwind/node_modules/.bin/tsc
packages/tailwind/node_modules/.bin/tailwindcss
packages/tailwind/node_modules/.bin/tailwind
packages/tailwind/node_modules/.bin/browserslist
packages/tailwind/node_modules/.bin/autoprefixer
packages/core/node_modules/zod
packages/core/node_modules/vitest
packages/core/node_modules/vite-plugin-node-polyfills
packages/core/node_modules/vite-plugin-dts
packages/core/node_modules/vite
packages/core/node_modules/tailwind-merge
packages/core/node_modules/react
packages/core/node_modules/range-serializer
packages/core/node_modules/js-yaml
packages/core/node_modules/github-slugger
packages/core/node_modules/date-fns-tz
packages/core/node_modules/date-fns
packages/core/node_modules/clsx
packages/core/node_modules/@types/react
packages/core/node_modules/@types/node
packages/core/node_modules/@types/js-yaml
packages/core/node_modules/.bin/vitest
packages/core/node_modules/.bin/vite
packages/core/node_modules/.bin/js-yaml
apps/example-poe/node_modules/zustand
apps/example-poe/node_modules/zod
apps/example-poe/node_modules/vitest
apps/example-poe/node_modules/use-text-selection
apps/example-poe/node_modules/use-immer
apps/example-poe/node_modules/typescript
apps/example-poe/node_modules/turbo
apps/example-poe/node_modules/tailwindcss
apps/example-poe/node_modules/superjson
apps/example-poe/node_modules/sonner
apps/example-poe/node_modules/resend
apps/example-poe/node_modules/remark-math
apps/example-poe/node_modules/remark-gfm
apps/example-poe/node_modules/rehype-slug
apps/example-poe/node_modules/rehype-katex
apps/example-poe/node_modules/rehype-autolink-headings
apps/example-poe/node_modules/recharts
apps/example-poe/node_modules/react-wrap-balancer
apps/example-poe/node_modules/react-text-selection-popover
apps/example-poe/node_modules/react-hook-form
apps/example-poe/node_modules/react-dom-confetti
apps/example-poe/node_modules/react-dom
apps/example-poe/node_modules/react-confetti-explosion
apps/example-poe/node_modules/react
apps/example-poe/node_modules/prisma
apps/example-poe/node_modules/postcss
apps/example-poe/node_modules/pluralize
apps/example-poe/node_modules/next-themes
apps/example-poe/node_modules/next-superjson-plugin
apps/example-poe/node_modules/next-contentlayer
apps/example-poe/node_modules/next-auth
apps/example-poe/node_modules/next
apps/example-poe/node_modules/lucide-react
apps/example-poe/node_modules/immer
apps/example-poe/node_modules/github-slugger
apps/example-poe/node_modules/geist
apps/example-poe/node_modules/framer-motion
apps/example-poe/node_modules/date-fns
apps/example-poe/node_modules/contentlayer
apps/example-poe/node_modules/cmdk
apps/example-poe/node_modules/cld3-asm
apps/example-poe/node_modules/autoprefixer
apps/example-poe/node_modules/@types/react-dom
apps/example-poe/node_modules/@types/react
apps/example-poe/node_modules/@types/pluralize
apps/example-poe/node_modules/@trpc/server
apps/example-poe/node_modules/@trpc/react-query
apps/example-poe/node_modules/@trpc/next
apps/example-poe/node_modules/@trpc/client
apps/example-poe/node_modules/@total-typescript/ts-reset
apps/example-poe/node_modules/@tanstack/react-table
apps/example-poe/node_modules/@tanstack/react-query
apps/example-poe/node_modules/@radix-ui/react-navigation-menu
apps/example-poe/node_modules/@radix-ui/react-dialog
apps/example-poe/node_modules/@prisma/client
apps/example-poe/node_modules/@next-auth/prisma-adapter
apps/example-poe/node_modules/@itell/ui
apps/example-poe/node_modules/@itell/tailwind
apps/example-poe/node_modules/@itell/core
apps/example-poe/node_modules/@hookform/resolvers
apps/example-poe/node_modules/@hello-pangea/color-picker
apps/example-poe/node_modules/.bin/vitest
apps/example-poe/node_modules/.bin/turbo
apps/example-poe/node_modules/.bin/tsserver
apps/example-poe/node_modules/.bin/tsc
apps/example-poe/node_modules/.bin/tailwindcss
apps/example-poe/node_modules/.bin/tailwind
apps/example-poe/node_modules/.bin/prisma
apps/example-poe/node_modules/.bin/next
apps/example-poe/node_modules/.bin/esbuild
apps/example-poe/node_modules/.bin/contentlayer
apps/example-poe/node_modules/.bin/browserslist
apps/example-poe/node_modules/.bin/autoprefixer
apps/example-poe/node_modules/.bin/acorn
