@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@itell/ui/dist/style.css");

html {
  scroll-behavior: smooth;
}

.columns .column figure:first-child,
.columns .column figure:first-child img {
  margin-top: 0;
}

.columns .column p:first-child {
  margin-top: 0;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.unhighlighted {
  @apply font-normal !important;
}

span.highlight {
  cursor: pointer !important;
  color: black;
}

span.emphasized {
  @apply font-bold !important;
}

svg {
  transition: all 0.3s;
}


#page-title,
h2,
h3,
h4,
h5,
.content-chunk {
  scroll-margin-top: 5rem;
}

.content-chunk {
  position: relative;
  transition: filter 1s ease-in-out;
}

.page-toc-active {
  @apply text-primary font-semibold
}


.blurred>*:not(.continue-reading-button-container, .scroll-back-button-container) {
  filter: blur(4px);
  user-select: none;
}

.continue-reading-button-container {
  position: absolute;
  top: min(4rem, 20%);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.scroll-back-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: min(4rem, 20%);
  transform: translateX(-50%, -50%);
  z-index: 1;
}


.note {
  color: black;
}


.driver-active .toc-sidebar,
.driver-active .chapter-sidebar,
.driver-active #site-nav,
.driver-active .question-container,
.driver-active .chatbot {
  display: none;
}

.driver-active #textbook-page-wrapper {
  grid-template-columns: 1fr;
  max-width: 60%;
}

.driver-popover {
  @apply max-w-80 bg-background text-foreground !important;
}

.no-select {
  user-select: none;
}

#page-content button,
#page-content .question-container,
#page-content .pager,
#page-content .highlight,
#page-content .note {
  @apply no-select
}

::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }

  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }

  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}