@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@itell/ui/dist/style.css");
@import url("@itell/js-sandbox/dist/style.css");

.columns .column figure:first-child,
.columns .column figure:first-child img {
  margin-top: 0;
}

.columns .column p:first-child {
  margin-top: 0;
}


.note {
  position: relative;
  color: black;
}

.note.emphasized {
  @apply font-bold !important;
}

.highlight {
  position: relative;
  cursor: pointer !important;
  color: black;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0px, 0px, 0px, 0px);
}

.skip-link:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: auto;
  clip-path: auto;
  padding: 12px;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-color: hsl(var(--primary));
}

#page-title,
h2,
h3,
h4,
h5,
.content-chunk {
  scroll-margin-top: calc(var(--nav-height) + 0.5rem)
}

.content-chunk {
  position: relative;
}

.page-toc-active {
  @apply text-primary font-semibold
}

.blurred>*:not(.continue-reading-button-container, .scroll-back-button-container) {
  filter: blur(4px);
  user-select: none;
}

.continue-reading-button-container {
  position: absolute;
  top: min(4rem, 20%);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.scroll-back-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: min(4rem, 20%);
  transform: translateX(-50%, -50%);
  z-index: 1;
}

.question-container {
  margin: 1em 0;
}

.driver-active #page-nav,
.driver-active #textbook-nav,
.driver-active #site-nav,
.driver-active .question-container,
.driver-active .chatbot {
  display: none;
}

.driver-active #textbook-main-wrapper {
  grid-template-columns: 1fr;
  max-width: 60%;
}

.driver-popover {
  @apply max-w-80 bg-background text-foreground !important;
}

.no-select {
  user-select: none;
}

#page-content button,
#page-content .question-container,
#page-content .pager,
#page-content .highlight,
#page-content .note {
  user-select: none;
}



@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }


  ::view-transition-group(root) {
    animation-duration: 0.7s;
    animation-timing-function: var(--expo-out);
  }

  ::view-transition-new(root) {
    animation-name: reveal-light;
  }

  ::view-transition-old(root),
  .dark::view-transition-old(root) {
    animation: none;
    z-index: -1;
  }

  .dark::view-transition-new(root) {
    animation-name: reveal-dark;
  }

  @keyframes reveal-dark {
    from {
      clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
    }

    to {
      clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
    }
  }

  @keyframes reveal-light {
    from {
      clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
    }

    to {
      clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
    }
  }

  [popover] {
    animation: popover 0.2s ease-out;
  }

  @keyframes popover {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .shake {
    animation-name: shake;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-iteration-count: 2;
  }

  @keyframes shake {
    0% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-10px);
    }

    40% {
      transform: translateX(10px);
    }

    60% {
      transform: translateX(-10px);
    }

    80% {
      transform: translateX(10px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

@media (prefers-reduced-motion: reduce) {

  html {
    scroll-behavior: auto;
  }

  ::view-transition-group(root),
  ::view-transition-new(root),
  ::view-transition-old(root),
  .dark::view-transition-old(root),
  .dark::view-transition-new(root) {
    animation: none;
  }

  .shake {
    animation: none;
  }

  [popover] {
    animation: none;
  }
}