@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@itell/ui/dist/style.css");

:root {
  --expo-out: linear(0 0%, 0.1684 2.66%, 0.3165 5.49%,
      0.446 8.52%, 0.5581 11.78%,
      0.6535 15.29%, 0.7341 19.11%,
      0.8011 23.3%, 0.8557 27.93%,
      0.8962 32.68%, 0.9283 38.01%,
      0.9529 44.08%, 0.9711 51.14%,
      0.9833 59.06%, 0.9915 68.74%, 1 100%);
}

html {
  scroll-behavior: smooth;
}


textarea {
  resize: none;
}




.columns .column figure:first-child,
.columns .column figure:first-child img {
  margin-top: 0;
}

.columns .column p:first-child {
  margin-top: 0;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.note {
  color: black;
}

.note.emphasized {
  @apply font-bold !important;
}

.highlight {
  cursor: pointer !important;
  color: black;
}

svg {
  transition: all 0.3s;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0px, 0px, 0px, 0px);
}

.skip-link:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: auto;
  clip-path: auto;
  padding: 12px;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  text-decoration-color: hsl(var(--primary));
}



#page-title,
h2,
h3,
h4,
h5,
.content-chunk {
  scroll-margin-top: 5rem;
}

.content-chunk {
  position: relative;
  transition: filter 1s ease-in-out;
}

.page-toc-active {
  @apply text-primary font-semibold
}

.blurred>*:not(.continue-reading-button-container, .scroll-back-button-container) {
  filter: blur(4px);
  user-select: none;
}

.continue-reading-button-container {
  position: absolute;
  top: min(4rem, 20%);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.scroll-back-button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: min(4rem, 20%);
  transform: translateX(-50%, -50%);
  z-index: 1;
}




.question-container {
  margin: 1em 0;
}

.driver-active .toc-sidebar,
.driver-active .chapter-sidebar,
.driver-active #site-nav,
.driver-active .question-container,
.driver-active .chatbot {
  display: none;
}

.driver-active #textbook-main-wrapper {
  grid-template-columns: 1fr;
  max-width: 60%;
}


.driver-popover {
  @apply max-w-80 bg-background text-foreground !important;
}

.no-select {
  user-select: none;
}

code,
pre,
table,
#page-content button,
#page-content .question-container,
#page-content .pager,
#page-content .highlight,
#page-content .note {
  user-select: none;
}

::view-transition-group(root) {
  animation-duration: 0.7s;
  animation-timing-function: var(--expo-out);
}

::view-transition-new(root) {
  animation-name: reveal-light;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation-name: reveal-dark;
}

@keyframes reveal-dark {
  from {
    clip-path: polygon(50% -71%, -50% 71%, -50% 71%, 50% -71%);
  }

  to {
    clip-path: polygon(50% -71%, -50% 71%, 50% 171%, 171% 50%);
  }
}

@keyframes reveal-light {
  from {
    clip-path: polygon(171% 50%, 50% 171%, 50% 171%, 171% 50%);
  }

  to {
    clip-path: polygon(171% 50%, 50% 171%, -50% 71%, 50% -71%);
  }
}

.shake {
  animation-name: shake;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 2;
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}