.steps {
  @apply my-8 ml-4 border-l pl-8 [counter-reset:step];
}

.steps > h4 {
  @apply step;
}

.steps:first-child > h4:first-child {
  @apply mt-0;
}

.step {
  counter-increment: step;
}

.step:before {
  @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
  @apply ml-[-50px] mt-[-4px];
  content: counter(step);
}
