@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@itell/ui/dist/style.css");

html {
  scroll-behavior: smooth;
}

.columns .column figure:first-child,
.columns .column figure:first-child img {
  margin-top: 0;
}

.columns .column p:first-child {
  margin-top: 0;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.unhighlighted {
  @apply font-normal !important;
}

span.highlight {
  cursor: pointer !important;
  color: black;
}

span.emphasized {
  @apply font-bold !important;
}

svg {
  transition: all 0.3s;
}

#page-title,
#page-content h2,
#page-content h3 {
  scroll-margin-top: 80px;
}


.content-chunk {
  transition: 0.6s filter linear
}

.note {
  color: black;
}


.driver-active .toc-sidebar,
.driver-active .chapter-sidebar,
.driver-active #site-nav,
.driver-active .question-container,
.driver-active .chatbot {
  display: none;
}

/* make space for question popup */
.driver-active #page-content-wrapper {
  max-width: 60%;
}

/* .driver-active #textbook-page-wrapper {
  justify-content: end;
} */

.driver-popover {
  width: 240px !important;
  /* max-width: 350px !important; */
  @apply bg-background text-foreground !important;
}

@media (max-width: 768px) {
  .chapter-sidebar {
    display: none;
  }

  .toc-sidebar {
    display: none;
  }
}