@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("@itell/ui/dist/style.css");

html {
  scroll-behavior: smooth;
}

.columns .column figure:first-child,
.columns .column figure:first-child img {
  margin-top: 0;
}

.columns .column p:first-child {
  margin-top: 0;
}

.inset-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span.unhighlighted {
  @apply font-normal !important;
}

span.highlight {
  cursor: pointer !important;
  color: black;
}

span.emphasized {
  @apply font-bold !important;
}

svg {
  transition: all 0.3s;
}

#page-title,
#page-content h2,
#page-content h3 {
  scroll-margin-top: 80px;
}


.content-chunk {
  transition: 0.6s filter linear
}

.note {
  color: black;
}


.blurred {
  filter: blur(4px);
  pointer-events: none;
}

.focused-active-element::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  pointer-events: none;
  box-shadow: 0 0 0 9999px rgba(255, 255, 255, 0.8);
}


.focused-active-element {
  filter: none !important;
  pointer-events: auto;
  position: relative;
  z-index: 1000;
}

.focused-active-popover {
  filter: none !important;
  pointer-events: auto;
  width: 300px;
  z-index: 1000;
}

.focused-active {
  pointer-events: none;
}

.focused-active .toc-sidebar,
.focused-active .chapter-sidebar,
.focused-active #site-nav,
.focused-active .question-container,
.focused-active .chatbot {
  display: none;
}


/* make space for question popup */
.focused-active #page-content-wrapper {
  max-width: 60%;
}

@media (max-width: 768px) {
  .chapter-sidebar {
    display: none;
  }

  .toc-sidebar {
    display: none;
  }
}